$HEADER_HEIGHT: 40px;
$FONT_FAM: "PT Sans", sans-serif;

$FONT_COLOR: #232323;
$HEADER_PANEL_COLOR: #2c2c2c;
$HIGHLIGHT_COLOR: #47b8ff;
$BORDER_COLOR: #f2f2f2;

$SHAPE_PANEL_WIDTH: 240px;
//-----MIXINS------

@mixin centeredAbsolutely() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin borderAppearsOnHover() {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid white;

  &:hover {
    border: 1px solid $BORDER_COLOR;
  }
}
