@import "../../styles/variables";

.DocumentList {
  margin: 0 auto;
  padding: 0;

  &__document {
    box-sizing: border-box;
    padding: 20px;
    width: calc(100% / 4);
    float: left;
    margin: 0 0.5em;

    &:hover {
      background: #ececec;
    }
  }

  &__create-document {
    outline: none;
    background: gray;
    box-sizing: border-box;
    border: none;
    padding: 10px 12px;
  }
  &__document-new-name {
    outline: none;
  }

  &__document-new-name:valid + &__create-document {
    background: $HIGHLIGHT_COLOR;
  }
}
