@import "../../styles/variables";

.ToolPanel {
  background: $HEADER_PANEL_COLOR;
  height: 40px;
  color: #232323;
  position: absolute;
  z-index: 10;
  width: 100%;

  &__control {
    border: none;
    outline: none;
    height: 100%;
    width: 55px;
    background: $HEADER_PANEL_COLOR;
    color: white;

    &:hover {
      background: black;
    }

    &_disabled {
      opacity: 0.5;

      &:hover {
        background: $HEADER_PANEL_COLOR;
      }
    }

    &_toggled-on {
      background: $HIGHLIGHT_COLOR;

      &:hover {
        background: #3498db;
      }
    }
  }
}
