@import "../../styles/variables";

.DocumentList {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  min-height: 100vh;
  max-width: 1700px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: baseline;

  &__create-document-form {
    background: white;
    box-sizing: border-box;
    padding: 20px;
    height: 88px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  &__create-document {
    outline: none;
    background: transparent;
    box-sizing: border-box;
    border: 1px dashed $HIGHLIGHT_COLOR;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: $SMALL_FONT_SIZE;
    padding: 10px 12px;
    // TODO redesign this button
    display: none;
  }

  &__document-new-name {
    font-size: $FONT_SIZE_GENERAL;
    outline: none;
    border: 0;
    width: 100%;
    border-bottom: 1px solid $BORDER_COLOR;

    &:valid {
      border-bottom: 1px solid rgba(72, 183, 255, 0.65);
    }
  }

  &__document-new-name:valid + &__create-document {
    background: $HIGHLIGHT_COLOR;
  }
}


@media screen and (max-width: 820px) {
  .DocumentWrapper {
    width: 100%;
  }
  .DocumentList {
    flex-direction: column-reverse;
    min-height: 0;
  }
}