@import "./variables";

body {
  margin: 0;
  color: #232323;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
  color: $FONT_COLOR;
  display: block;
}

ul {
  list-style-type: none;
}
