@import "../../styles/variables";

.Editor {
  &__side-panel {
    position: fixed;
    background: white;

    box-sizing: border-box;
    padding: 20px 30px;
    height: calc(100vh - #{$HEADER_HEIGHT});
    width: $SHAPE_PANEL_WIDTH;
    right: 0;
    top: $HEADER_HEIGHT;
  }
}
