@import "../../styles/variables";

.ShapeEditPanel {
  box-sizing: border-box;
  padding: 20px 0;
  border-bottom: 1px solid $BORDER_COLOR;

  &__form {
    margin: 10px 0 0 -5px;
  }

  &__feature-name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  &__stroke {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

  &__stroke-color-code {
    margin-left: 8px;
    font-size: 13px;
    align-self: center;
  }

  &__stroke-color-preview {
    align-self: center;
    width: 12px;
    height: 12px;
    background: $FONT_COLOR;
    display: block;
  }
}
