@import "../../styles/variables";

.ShapeFeatureTuningPanel {
  box-sizing: border-box;
  padding: 20px 0;
  border-bottom: 1px solid $BORDER_COLOR;

  &__feature-name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  &__feature-block {
    display: flex;
    margin: 10px 0 0 -5px;
    justify-content: space-between;
    align-items: center;
  }

  &__stroke-color {
    display: flex;
    position: relative;
    align-content: center;
    @include borderAppearsOnHover();
  }

  &__stroke-color-code {
    margin-left: 8px;
    font-size: 13px;
    align-self: center;
  }

  &__stroke-opacity {
    font-size: 13px;
    @include borderAppearsOnHover();
  }

  &__stroke-color-preview {
    align-self: center;
    width: 12px;
    height: 12px;
    background: $FONT_COLOR;
    display: block;
  }

  &__stroke-color-input {
    width: 46px;
    text-align: right;
    outline: none;
    align-self: center;
    border: 0;
    font-size: 13px;
    font-family: $FONT_FAM;

    &[placeholder] {
      color: $FONT_COLOR;
    }
  }
}
