.ToolPanel {
  &__control {
    &_create-shape {
      font-size: 12px;
      color: #232323;
      background: white;
      border: 1px solid white;
    }

    &_toggled-on {
      background: #3498db;
    }
  }
}