@import "../../styles/variables";

.ToolPanel {
  background: $PANEL_COLOR;
  height: 40px;
  color: #232323;
  position: absolute;
  z-index: 10;
  width: 100%;

  &__control {
    border: none;
    outline: none;
    height: 100%;
    width: 55px;

    &:hover {
      background: rgb(172, 220, 255);
    }

    &_create-shape {
      font-size: 12px;
    }

    &_toggled-on {
      background: $HIGHLIGHT_COLOR;

      &:hover {
        background: #3498db;
      }
    }
  }

  &__change-name-form {
    float: right;
    margin-left: 10px;
  }

  &__change-name {
    outline: none;
  }

  &__doc-name {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
